:root {
  --collage-lg: 9.375rem;
  --collage-md: 5.625rem;
  --collage-sm: 1.875rem;
}

.collage-container {
  position: relative;
}

.collage {
  z-index: -1;
  position: absolute;
}

#pointing {
  width: var(--collage-lg);
  height: var(--collage-lg);
  top: calc(var(--spacing-tn) * -1);
  right: calc(var(--collage-sm) * -1);
}

#sunburst {
  width: var(--collage-md);
  height: var(--collage-md);
  top: calc(var(--collage-sm) * -1);
  right: calc(var(--collage-sm) * -1);
  rotate: 8deg;
}

#double-quotes {
  width: calc(var(--collage-sm) * 1.2);
  height: calc(var(--collage-sm) * 0.8);
  top: calc(var(--collage-sm) * -1);
  right: 0px;
}

#writing {
  width: var(--collage-lg);
  height: var(--collage-lg);
  top: 40%;
  left: calc(var(--collage-md) * -1.2);
}

#experience-scribble {
  width: calc(var(--collage-sm) * 4.6);
  height: calc(var(--collage-sm) * 1.4);
  top: calc(var(--spacing-sm) * -0.5);
  left: calc(var(--collage-sm) * -0.4);
}

#skill-list img.collage {
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  width: calc(var(--collage-sm) * 1.7);
  height: calc(var(--collage-sm) * 1.7);
  top: calc(var(--spacing-tn) * -1);
  left: calc(var(--spacing-tn) * 0);
}

#skill-list img.collage.show {
  opacity: 1;
  animation: drawCircle 0.5s forwards;
}

@keyframes drawCircle {
  from {
    clip-path: circle(0% at 0% 50%);
  }
  to {
    clip-path: circle(75% at 50% 50%);
  }
}

#megaphone {
  width: calc(var(--collage-lg) * 1.8);
  height: calc(var(--collage-lg) * 1.2);
  top: calc(var(--collage-md) * 1);
  right: calc(var(--collage-md) * -1.6);
}

#palm-up {
  width: var(--collage-lg);
  height: var(--collage-lg);
  top: calc(var(--spacing-md) * -1);
  left: calc(var(--spacing-lg) * 0.8 * -1);
  rotate: -12deg;
}

#reaching-out {
  width: var(--collage-lg);
  height: calc(var(--collage-lg) * 0.4);
  bottom: var(--spacing-lg);
  right: calc(var(--collage-sm) * -1);
  z-index: 1;
}

@media (min-width: 720px) {
  :root {
    --collage-lg: 13.125rem;
  }

  #pointing {
    z-index: 1;
  }
}

@media (min-width: 1080px) {
  :root {
    --collage-lg: 16.25rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --collage-lg: 20rem;
  }
}
