#contact {
  background-color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}

.form-field {
  background-color: var(--input-color);
  border-radius: var(--component-radius);
  position: relative;
}

form input,
form textarea {
  resize: none;
  font-family: var(--font-style-inp-btn);
  font-size: var(--font-size-sm);
  letter-spacing: calc(var(--letter-spacing) * 2);
  background-color: transparent;
  color: var(--font-color);
  border: none;
  border-radius: var(--component-radius);
  width: 100%;
  padding: var(--spacing-tn) calc(var(--spacing-sm) * 2) var(--spacing-tn) var(--spacing-sm);
  cursor: pointer;
  transition: letter-spacing 0.3s ease;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form input:not(:placeholder-shown),
form textarea:not(:placeholder-shown) {
  letter-spacing: var(--letter-spacing);
}

form textarea[name="message"] {
  height: calc(var(--content-width) * 0.7);
}

.field-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: var(--spacing-tn);
  right: var(--spacing-sm);
  transform: translateY(0);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.form-field:hover .field-icon,
.form-field:focus-within .field-icon {
  opacity: 1;
  transform: translateY(0) scale(1.05);
}

form button {
  align-self: flex-end;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-tn) var(--spacing-sm);
}

form button:disabled {
  cursor: not-allowed;
}
