#experience {
  background-image: radial-gradient(
    circle,
    rgba(var(--font-color-rgb), 0.3) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 40px 40px;
}

#experience .content {
  text-align: left;
}

#experience p {
  margin-bottom: var(--spacing-sm);
}

#experience ul {
  padding-left: var(--spacing-sm);
}

#experience li {
  line-height: var(--letter-height);
  margin-bottom: var(--spacing-tn);
}
