footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    gap: var(--spacing-sm);
}

footer h3 {
    font-family: var(--font-style-cursive);
}

footer h5 {
    opacity: var(--opacity-md);
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-tn);
}

footer p {
    font-family: var(--font-style-inp-btn);
    letter-spacing: calc(var(--letter-spacing) * 2);
    opacity: var(--opacity-sm);
    margin-top: var(--spacing-sm);
}

#back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: var(--spacing-sm);
    right: var(--spacing-sm);
    background-color: var(--button-color);
    border-radius: 50%;
    width: calc(var(--icon-size-lg) + var(--spacing-tn));
    height: calc(var(--icon-size-lg) + var(--spacing-tn));
    transition: all 0.3s ease;
}

#back-to-top svg {
    fill: var(--text-color);
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
}

@media (min-width: 720px) {
    #back-to-top {
        bottom: var(--spacing-md);
        right: var(--spacing-md);
    }
}