#skill {
  background-color: var(--background-color);
}

#skill-list {
  display: grid;
  grid-auto-rows: minmax(var(--icon-size-lg), auto);
  row-gap: var(--spacing-md);
  justify-items: center;
  margin: var(--spacing-sm) 0;
}

.skill-group {
  display: flex;
  gap: calc(var(--spacing-md) * 1.2);
}

.skill-group img {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--icon-size-lg) * 1.6);
}

.skill p {
  font-size: 0.8em;
}

body.dark #skill-list .skill-group img {
  filter: invert(1);
}
